<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Home page</title>
</head>

<body>
    <div class="container text-center pg-20">
        <a href="./test-connection" type="button" class="btn btn-primary">Test connection</a>
        <a href="./create-product" type="button" class="btn btn-primary">Create new product</a>
        <a href="./list-all-product" type="button" class="btn btn-primary">List all product</a>
        <a href="./retrieve-product" type="button" class="btn btn-primary">Retrieve product</a>
        <a href="./update-product" type="button" class="btn btn-primary">Update product</a>
        <a href="./delete-product" type="button" class="btn btn-primary">Delete product</a>
        <a href="./coupon" type="button" class="btn btn-primary">Delete product</a>
    </div>
    <!-- Bootstrap JS (optional if you need JavaScript features) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>