<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <div>
        <h2>Enter Website Information</h2>
        <form action="/controller/test-connection" method="post">
            <label for="httpLink">HTTP Link:</label>
            <input type="text" id="httpLink" name="httpLink" required><br><br>
            <label for="key">Key:</label>
            <input type="text" id="key" name="key" required><br><br>
            <label for="secretKey">Secret Key:</label>
            <input type="text" id="secretKey" name="secretKey" required><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>